#footer{
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    vertical-align: middle;
    background: black;
    box-shadow: 0 0 15px 0px black;
    padding: 25px;
}