#pokecontenedor{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
}

.pokefoto{
    border-radius: 15px;
    display: inline-block;
    height: 200px;
    margin: 30px;
    box-shadow: 0 0 5px 0px black;
}

.pokefoto:hover{
    box-shadow: 0 0 5px 0px red;
}

.pokefoto img{
    height: 150px;
    display: block;
}

.pokefoto label{
    display: block;
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}