#pokecontenedor{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    
}

.pokefoto{
    border-radius: 15px;
    display: inline-block;
    height: 200px;
    margin: 30px;
    box-shadow: 0px 0px 0px 3px rgb(44, 43, 43);

    background-color: rgb(44, 43, 43);
}

.pokefoto:hover{
    box-shadow: 0px 0px 1px 3px black;
}

.pokefoto img{
    height: 150px;
    display: block;
}

.pokefoto label{
    display: block;
    font-size: 18px;
    color: #FFD33F;
    font-weight: bold;
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}

.btn{
    color: #FFD33F;
    background-color: black;
}
