<div class ="container">
    <img id="pokimagen" src="{{traigopokemon.art_url}}">  
    <div id="pokedemas">             
        <h3>{{traigopokemon.name}}</h3><br>
        <div style="text-align: justify !important; font-size: 20px;">{{traigopokemon.description}}</div><br>
        <p style="font-weight: bold; font-size: 30px; margin-bottom: 30px;">Tipo(s)</p>
        <ul> 
            <li *ngFor="let tipo of tipos">{{tipo}}</li>
        </ul>
    </div>
        
        <div *ngIf="tieneEvoluciones()">
        <h3 style="text-align: left !important">Evoluciona a</h3><br>
            <div id="evolucion">
                <ul>
                    <li *ngFor="let evolucion of evoluciones; index as i">
                        <div id="izquierda">
                            <img class="pokepeque" src="{{traigopokemon.art_url}}">
                        </div>
                        <div id="intermedio">
                            <div> 
                                <div *ngIf="evolucion.level != null" >En el nivel: {{evolucion.level}}</div>
                                <img style="width: 60%; height: auto;" src="./../../assets/arrow.png"><br>
                                Por método: {{evolucion.method}}
                            </div> 
                        </div>
                        <div id="derecha">
                            <b>{{evolucion.to}}</b><br>
                            <img class="pokepeque" src="{{evopoke[i].art_url}}" ><br>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="pokeseleccionado" >
            <a [routerLink]="['/pokedex']" ><button style="display: inline-block;" type="button" class="btn btn-dark">Regresar</button></a>
          </div>
</div>
