.container{
    width: 80%;
    text-align: center;
}

h3{
    font-weight: bold;
    font-size: 40px;
}

#pokimagen{
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin-right:45px;
    margin-top:30px;
}

#pokedemas{
    padding-top: 50px;
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

ul{
    list-style: none;
    font-size: 20px;
    padding-left: 0;
}

#evolucion{
    width: 80%;
    height:268px;
    display:block;
    margin: 0 auto;
}

.pokepeque{
    width: 85%;
    height: auto;
}

#izquierda{
    display: inline-block;
    width: 33%;
}

#intermedio{
    display:inline-block;
    height: 268px;
    width: 33%;
}

#derecha{
    display: inline-block;
    width: 33%;
}